* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::selection {
	background-color: rgba(0, 0, 0, 0)
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

body {
	background-color: black;
	color: #fff;
	font-family: 'Comfortaa', sans-serif;
}

a {
	text-decoration: none;
}

a:visited {
 	color: black;
 }

 .header h2 a:visited {
	color: #ffe250;
 }

.header {
	margin: 50px 0 0 100px;
}

.header a {
	color: #ffe250;
	font-size: 28px;
}

.content {
	max-width: 600px;
	max-height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 35px;
	margin-left: 200px;
	margin-top: 55px;
}

h1 {
	font-weight: 500;
    font-size: 60px;
	text-align: center;
}

.wrapper_content__text {
	margin-top: 33px;
}

.content__text {
	font-weight: 400;
    font-style: normal;
    font-size: 1.8518518519vh;
    line-height: 2.7777777778vh;
    min-height: 11.6666666667vh;
	text-align: center;
}

.buttons {
	display: flex;
	gap: 25px;
	margin-top: 10px;
}

.buttons a {
	width: 100%;
}

.buttons button {
	width: 100%;
	height: 100px;
	background-color: #ffe250;
	cursor: pointer;
	font-size: 32px;
	font-weight: 500;
	border-radius: 10px;
	border: none;
	color: black;
}

.buttons button:hover {
	box-shadow: 0 0 3.3333333333vh #ffe250;
	transition: all 0.5s;
}

.person {
	position: absolute;
	width: 56.533333vh;
    height: 119.464815vh;
    bottom: -20.962962963vh;
    right: 3.1481481481vh;
	z-index: -1;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -4;
}

.grafitti {
	position: absolute;
	z-index: -3;
	left: -1.4907407407vh;
    top: -18.4907407407vh;
    width: 213.9259259259vh;
    height: 149.7842592593vh;
}

.bolt {
	position: absolute;
	right: 56.9907407407vh;
    top: .5740740741vh;
    width: 42.9796296296vh;
    height: 78.8768518519vh;
    filter: drop-shadow(0 0 30px #f9dc4f);
    transform: rotate(150deg);
	z-index: -2;
}

.lightnings {
	left: -14.6481481481vh;
    top: -8.7962962963vh;
    width: 201.4398148148vh;
    height: 115.137037037vh;
	position: absolute;
	z-index: -2;
}

@media (max-width: 980px) {
	.header {
		margin: 10px auto;
	}

	.header h2 {
		text-align: center;
	}

	.person, .bolt, .lightnings {
		display: none;
	}

	.wrapper_content__text {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 60px;
	}

	.content {
		margin: 20px auto;
		gap: 0;
		padding: 10px;
	}
	.content__text {
		line-height: 33px;
	}

	h1 {
		font-size: 30px;
	}
	.buttons {
		gap: 10px;
    	margin-top: 50px;
	}

	.buttons button {
		width: 50%;
		margin-top: 20px;
	}
	.buttons a {
		text-align: center;
	}
}

@media (max-width: 400px) {
	.person, .bolt, .lightnings {
		display: none;
	}
	.wrapper_content__text {
		margin-top: 15px;
		gap: 0;
	}

	.content {
		margin: 20px auto;
		gap: 0;
		padding: 10px;
	}
	.content__text {
		line-height: 18px;
	}

	h1 {
		font-size: 30px;
	}
	.buttons {
		gap: 0;
		margin-top: 0;
		flex-direction: row;
		
	}

	.buttons button {
		margin-top: 20px;
	}
	.buttons a {
		text-align: center;
	}
}
